body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/*------------Header---------------*/
.header {
  background-color: blue;
  padding-bottom: 10px;
  padding-top:20px;
}

.header  Container > Row > Col > h1 {
  color:aliceblue;
}

.header > Link{
  color:aliceblue;
}

/*----------Found page----------------*/

.intro > h1 {
  text-align: center;
  color: orangered;
}

.intro > p {
  text-align:center;
  font-size: large;
}

/*-----------Item card-------------*/
.card {
  padding: 10px;
  border-style: solid;
  border-width: 1px; 
}
 .card > h1 {
  color:purple;
 }

 /*--------------Footer------------*/

/*.foot {
  background-color: rgb(163, 161, 157);
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}*/

.foot {
  background-color: blue;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: pink; 
  height: 6vh;
}

.cardhome {
  left: 100px;
  right: 100px;
}

.welcome {
  padding: 150px;
}

.jumbotron {
  height: 82vh;
  background-image: url('bms_blur.jpg');
  background-size: cover;
}


.modal-content {
  width: 200%;
}

.fileUploader{
  width: 53%;
}
